{% extends 'base.html.twig' %}

{% block title %}New StreamOfTMWR{% endblock %}

{% block body %}
    <h1>Create new StreamOfTMWR</h1>

    {{ include('stream_of_tmwr/_form.html.twig') }}

    <a href="{{ path('app_stream_of_t_m_w_r_index') }}">back to list</a>
{% endblock %}
